.bg-white {
    background-color: #29bbfa !important;
}
.navbar-light .navbar-brand {
    color: #fff;
}
.navbar-light .navbar-nav .nav-link {
	color: #fff;
}
.card {
	margin-top: 45px;
}
// .col-md-8.profile-section{
//   font-family: 'Lexend Deca', sans-serif;
// }
.navbar {
   font-family: 'Lexend Deca', sans-serif;
}
